.wrapper {
  display: flex;
  border: 1px solid var(--gray-8);
  border-radius: 4px;
  overflow: hidden;
  height: 32px;
}

.input,
.button {
  border: 0;
  appearance: none;
  min-width: 0;
}

.input {
  font-size: var(--text-size-xs);
  padding-inline-start: var(--spacing-m);
}

.button {
  background-color: var(--gray-4);
  padding-inline: var(--spacing-m);
  flex-shrink: 0;
  font-size: var(--text-size-s);
  border-inline-start: 1px solid var(--gray-8);
  transition: all 0.2s ease-in;
}

.button:hover {
  background-color: var(--gray-6);
}

.button:active {
  background-color: var(--gray-8);
}
