.link {
  text-decoration: none;
  color: inherit;
}

.card {
  display: grid;
  gap: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding-inline: 8px;
  padding-block: 4px;
  margin-block-end: 24px;
  overflow: hidden;
  height: 200px;
  grid-template-columns: 300px 1fr 150px;
  grid-template-areas: "image info price";
}

.image {
  grid-area: image;
}

.info {
  grid-area: info;
  font-size: 14px;
  display: grid;
  grid-auto-rows: max-content;
  gap: 8px;
}

.price {
  grid-area: price;
  background-color: #f1f1f1;
  text-align: end;
  padding-block: 24px;
  padding-inline: 16px;
  font-size: 28px;
  font-weight: 600;
}

.ratings {
  display: inline-flex;
  gap: 2px;
}

.roomType {
  margin-inline-end: 4px;
}
