.container {
  display: block;
  width: 100%;
  margin-inline: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.mainContainer {
  background-color: var(--container-background);
  padding: calc(var(--spacing-scale) * 2);
}

.title {
  display: none;
  color: var(--primary);
  font-weight: 800;
  font-size: var(--text-header-size);
  grid-area: title;
}

.wrapper {
  display: grid;
  grid-template-areas: "listing";
  grid-template-columns: 1fr;
}

@media screen and (min-width: 992px) {
  .wrapper {
    display: grid;
    gap: calc(var(--spacing-scale) * 2);
    grid-template-columns: 200px 1fr 180px;
    grid-template-areas:
      "title   title   ads"
      "filters listing ads";
  }
}

.ads {
  grid-area: ads;
}

.filterContainer {
  grid-area: filters;
}

.listings {
  grid-area: listing;
}

.ads {
  display: none;
}

.filterContainer {
  display: none;

  background-color: var(--grey-100);
  padding: var(--spacing-scale);
  border-radius: 4px;
}

@media screen and (min-width: 992px) {
  .ads {
    display: block;
  }

  .filterContainer {
    display: block;
    align-self: flex-start;
  }

  .title {
    display: block;
  }
}

.filterTitle {
  font-weight: 600;
  border-block-end: 1px solid var(--container-border);
  padding-block: var(--spacing-scale);
  padding-inline-start: var(--spacing-scale);
}

.filterSection {
  padding-block: calc(var(--spacing-scale) * 2);
}

.filterSection + .filterSection {
  border-block-start: 1px solid var(--container-border);
}

.card {
  display: grid;
  gap: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding-inline: 8px;
  padding-block: 4px;
  margin-block-end: 24px;
  overflow: hidden;
  height: 200px;
  grid-template-columns: 300px 1fr 150px;
  grid-template-areas: "image info price";
}

.card img {
  width: 300px;
}
