.container {
  display: block;
  width: 100%;
  margin-inline: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.main {
  background-color: var(--container-background);
  padding: var(--spacing-l);
  margin-block-end: calc(var(--spacing-scale) * 8);
}
