.summary {
  display: inline-flex;
  gap: var(--spacing-m);
  color: var(--gray-11);
}

.summary::-webkit-details-marker {
  display: none;
}

.indicator {
  width: 12px;
}

.title {
  font-size: var(--text-size-s);
}

.content {
  padding-inline-start: var(--spacing-l);
}
